<!-- Start Breadcrumbs -->
<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Frequently Asked Questions</h2>
                <ul class="bread-list">
                    <li><a href="index.html">Home<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="about-us.html">FAQS</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<!-- Start Faq -->
<section id="faq" class="faq section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>Frequently Asked Questions</h1>
                    <p>Contrary to popular belief. Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                   
                    {{!-- <div class="panel panel-default <?php echo ($key == 0) ? 'active' : ''; ?>">
                        <!-- Single Faq -->
                        <div class="faq-heading" id="FaqTitle<?php echo $key?>">
                            <h4 class="faq-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#faq3">
                                    </a>
                            </h4>
                        </div>
                        <div id="faq3"
                            class="panel-collapse collapse <?php echo ($key == 0) ? 'in' : ''; ?>" role="tabpanel"
                            aria-labelledby="FaqTitle<?php echo $key ?>">
                            <div class="faq-body">
                                <p>
                                   
                                </p>

                            </div>
                        </div>
                        <!--/ End Single Faq -->
                    </div>
                     --}}

                    <div class="panel panel-default"> 
                    <!-- Single Faq -->
                     <div class="faq-heading"  id="FaqTitle3">
									  <h4 class="faq-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq4">Is There Anything Special I Need To Do Before Donating?</a>
									  </h4>
									</div>
									<div id="faq4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FaqTitle3">
									  <div class="faq-body"><p>Eat at your regular mealtimes and drink plenty of fluid before you donate blood. Have a snack at least four hours before you donate, but do not eat too much right before the donation.</p>

<p>Before you leave the blood donor clinic after your blood donation, have some tea, coffee or a soft drink to help replace the blood volume (approximately 450 ml) which has been reduced as a result of your donation.</p>

<p>Avoid taking aspirin or aspirin-like anti-inflammatory medication in the 72 hours prior to your donation, because aspirin inhibits the function of blood platelets. If you have taken aspirin within this period, your blood platelet component cannot be transfused to a patient.</p>
</div>
									</div>
                    <!--/ End Single Faq -->
                     </div> 
                     <div class="panel panel-default"> 
                    <!-- Single Faq -->
                    <div class="faq-heading"  id="FaqTitle4">
									  <h4 class="faq-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq5">Why Should I Donate Blood?</a>
									  </h4>
									</div>
									<div id="faq5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FaqTitle4">
									 <div class="faq-body">
									 	<p>The need for blood affects us all. Eight out of ten people need blood or blood products at some time in our lives. One out of every ten patients in hospital requires blood transfusion. The number of blood donations that patients receive depends on their medical condition. Although an average of three donations is transfused to a patient, some patients require many more.</p>

									<p>Blood is in constant demand for the treatment of patients involved in accidents, patients with anaemia, malaria, cancer or a bleeding disorder such as haemophilia. Many surgical operations would not be possible without the availability of blood. Blood may be needed during or following childbirth or for an exchange transfusion in newborn babies.

									The need for blood never stops. Blood donors save lives. Every blood donation gives the person who receives it a new chance at life.</p>
									 </div>
									</div> 
                    <!--/ End Single Faq -->
                    </div> 
                     <div class="panel panel-default"> 
                    <!-- Single Faq -->
                     <div class="faq-heading"  id="FaqTitle6">
									  <h4 class="faq-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq6">How Often Can I Donate Blood?</a>
									  </h4>
									</div>
									<div id="faq6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FaqTitle5">
									 <div class="faq-body">
									 	<p>
									 		You may donate either whole blood or a specific blood component such as blood platelets. Each type of donation requires a certain waiting period before you can give again. After a whole blood donation, a person must wait at least 56 days before donating again.</p>
									 		<p>
											The minimum interval between whole blood donations is 12 weeks for men and 16 weeks for women. Platelet and plasma donors are able to donate more frequently.
									 	</p>
									 </div>
									</div> 
                    <!-- End Single Faq -->
                     </div> 
                </div>
            </div>
            <div class="col-md-5" style="overflow:hidden;">
                <div class="faq-image">
                    <img src="/client/images/faqs.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Faq -->