<!-- Start Hero Area -->
<section class="hero-area">
    <div class="slider-one">
        <!-- Single Slider -->
        <div class="single-slider" style="background-image:url('/client/images/slider1.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <!-- Slider Text -->
                        <div class="slide-text">
                            <h1><span class="short">Donate Blood</span>Save Live </h1>
                            <p>Blood donation is a service to humankind. By donating blood, you help someone in need and
                                it can very well save a precious life.</p>
                            <div class="slide-btn">
                                <a href="https://www.youtube.com/watch?v=HLFzP1D7PKk"
                                    class="btn primary video-play video-popup mfp-fade">Play Video<i
                                        class="fa fa-play"></i>
                                    <div class="waves-block">
                                        <div class="waves wave-1"></div>
                                        <div class="waves wave-2"></div>
                                        <div class="waves wave-3"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--/ End SLider Text -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
        <!-- Single Slider -->
        <div class="single-slider" style="background-image:url('/client/images/slider2.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-offset-5 col-sm-12 col-xs-12">
                        <!-- Slider Text -->
                        <div class="slide-text right">
                            <h1><span class="short">Tears of a mother cannot save her Child</span>But your Blood can
                            </h1>
                            <p>The average adult has about 10 pints of blood in his body. Roughly one pint is given
                                during a donation.</p>
                            <div class="slide-btn">
                                <a href="<?php echo base_url(); ?>Welcome_controller/about" class="btn primary">FAQS</a>
                            </div>
                        </div>
                        <!--/ End SLider Text -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
        <!-- Single Slider -->
        <div class="single-slider" style="background-image:url('/client/images/slider3.png')">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <!-- Slider Text -->
                        <div class="slide-text">
                            <h1><span class="short">Be a blood donor, be a Hero – </span>A real one</h1>
                            <p>The blood you donate gives someone another chance at life. One day that someone may be a
                                close relative, a friend, a loved one—or even you.</p>
                            <div class="slide-btn">
                                <a href="#projects" class="btn primary">Our Project<i
                                        class="fa fa-long-arrow-down"></i></a>
                            </div>
                        </div>
                        <!--/ End SLider Text -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </div>
</section>
<!--/ End Hero Area -->
<hr>
<section id="" class="contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>Make A Request</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Contact Form -->
            <div class="col-md-12 col-sm-18 col-xs-12">
                <form  method="post" action="/register">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Full Name" required="required">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                        <select name="blood_id" id="selectTag" class='select2 form-control'>
                            <option value="">Select blood group</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="number" name="age" placeholder="Age" required="required">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="mobile" placeholder="Mobile Number" required="required">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="hospital_name" placeholder="Hostpital Name" required="required">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="city" placeholder="city" required="required">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="remail" placeholder="Email" required="required">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" id="till_required" name="till_date" placeholder="Till Required Date"
                                readonly="readonly" required="required">
                        </div>
                    </div>
                    <!-- <div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<textarea name="message" rows="7" placeholder="Please Describ the reason shortly..." ></textarea>
										</div>
									</div>
								</div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group button">
                                <button type="submit" class="btn primary">Submit Request</button>
                            </div>
                        </div>
                    </div>
                </div>

                </form>
            </div>
            <!--/ End Contact Form -->
            <!--/ End Contact Address -->
        </div>
    </div>
</section>
<!--/ End Features -->
<!-- Why Choose Us -->
<section id="why-choose" class="why-choose section">
    <div class="container-fluid fix">
        <div class="row fix">
            <div class="col-md-4 col-sm-12 col-xs-12 fix">
                <div class="working-process">
                    <h2>Our Working process</h2>
                    <p>Donating blood is a simple process. Your gift of blood may help three people or more. Donated red
                        blood cells have a shelf-life of up to 42 days. A healthy donor may donate every 56 days.</p>
                    <a href="<?php echo base_url(); ?>Welcome_controller/about" class="btn"> Read More</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 fix">
                <div class="choose-main">
                    <!-- Single Choose -->
                    <div class="single-choose">
                        <i class="fa fa-check"></i>
                        <h4>Where to Donate Blood</h4>
                        <p>Please register as donor so upon need of blood we will request you.</p>
                    </div>
                    <!-- End Single Choose -->
                    <!-- Single Choose -->
                    <div class="single-choose">
                        <i class="fa fa-support"></i>
                        <h4>Day/Night Live Support</h4>
                        <p>Our Site is active 24/7 so you can request any time.</p>
                    </div>
                    <!-- End Single Choose -->
                    <!-- Single Choose -->
                    <div class="single-choose">
                        <i class="fa fa-optin-monster"></i>
                        <h4>Blood Donation</h4>
                        <p>During the donation process, you will donate one unit of blood; this takes about six to ten
                            minutes.</p>
                    </div>
                    <!-- End Single Choose -->
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 fix">
                <div class="why-video">
                    <!-- Video Animation -->
                    <div class="promo-video">
                        <div class="waves-block">
                            <div class="waves wave-1"></div>
                            <div class="waves wave-2"></div>
                            <div class="waves wave-3"></div>
                        </div>
                    </div>
                    <!--/ End Video Animation -->
                    <!-- Promo Video -->
                    <div class="video"><a href="https://www.youtube.com/watch?v=HLFzP1D7PKk"
                            class="btn video-play video-popup mfp-fade"><i class="fa fa-play"></i></a></div>
                    <!--/ End Promo Video -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Why Choose Us -->
<br>
<!-- Start Counter -->
<div id="counter" class="counter section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <!-- Single Counter-->
                <div class="counter-single">
                    <div class="icon">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <div class="s-info">
                        <span class="number"><?php echo $records['requests']; ?></span>
                        <p>Registered Donors</p>
                    </div>
                </div>
                <!--/ End Single Counter-->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <!-- Single Counter-->
                <div class="counter-single">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="s-info">
                        <span class="number"><?php echo $records['requests']; ?></span>
                        <p>Total Requests</p>
                    </div>
                </div>
                <!--/ End Single Counter-->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <!-- Single Counter-->
                <div class="counter-single">
                    <div class="icon">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="s-info">
                        <span class="number"><?php echo $records['assign']; ?></span>
                        <p>Assigned Requests</p>
                    </div>
                </div>
                <!--/ End Single Counter-->
            </div>

        </div>
    </div>
</div>
<!--/ End Counter -->

<!-- Start Team -->
<section id="team" class="team section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>Meet The Team</h1>
                    <p>Teamwork is the ability to work together toward a common vision. The ability to direct individual
                        accomplishments toward organizational objectives. It is the fuel that allows common people to
                        attain uncommon results. --Andrew Carnegie</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- Single Team -->
                <div class="single-team default">
                    <!-- Team Head -->
                    <div class="t-head">
                        <img src="/client/team/manzoor_jehan.png" alt="#">
                    </div>
                    <!-- Team Bottom -->
                    <div class="t-bottom">
                        <h2 class="t-name">Professor Manzoor Jehan</h2>
                        <p class="what">Chairman</p>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- Single Team -->
                <div class="single-team two default">
                    <!-- Team Head -->
                    <div class="t-head">
                        <img src="/client/team/shah_nawaz.png" alt="" />
                    </div>
                    <!-- Team Bottom -->
                    <div class="t-bottom">
                        <div class="t-icon">
                        </div>
                        <h2 class="t-name">Professor Shah Nawaz</h2>
                        <p class="what">Supervisor</p>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- Single Team -->
                <div class="single-team three default">
                    <!-- Team Head -->
                    <div class="t-head">
                        <img src="http://via.placeholder.com/360x400" alt="#">
                    </div>
                    <!-- Team Bottom -->
                    <div class="t-bottom">
                        <div class="t-icon">
                        </div>
                        <h2 class="t-name">Izaz Khan</h2>
                        <p class="what">Site Admin</p>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- Single Team -->
                <div class="single-team four default">
                    <!-- Team Head -->
                    <div class="t-head">
                        <img src="/client/team/uzair_khan.png" alt="#">
                    </div>
                    <!-- Team Bottom -->
                    <div class="t-bottom">
                        <div class="t-icon">
                        </div>
                        <h2 class="t-name">Muhammad Uzair</h2>
                        <p class="what">Assistant</p>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
        </div>
        <!--/ End Team Detailes Four -->
    </div>
</section>
<!--/ End Team -->

<!-- Start Clients -->
<!-- <section id="clients" class="clients section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="section-title">
								<h1>Our Top Donors</h1>
								<p>Contry to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="clients-slider"> -->
<!-- Single Clients -->
<!-- <div class="single-clients">
									<a href="#" target="_blank"><img src="http://via.placeholder.com/220x100" alt="#"></a>
								</div> -->
<!--/ End Single Clients -->
<!-- Single Clients -->
<!-- <div class="single-clients active">
									<a href="#" target="_blank"><img src="http://via.placeholder.com/220x100" alt="#"></a>
								</div> -->
<!--/ End Single Clients -->
<!-- Single Clients -->
<!-- <div class="single-clients">
									<a href="#" target="_blank"><img src="http://via.placeholder.com/220x100" alt="#"></a>
								</div> -->
<!--/ End Single Clients -->
<!-- Single Clients -->
<!-- <div class="single-clients">
									<a href="#" target="_blank"><img src="http://via.placeholder.com/220x100" alt="#"></a>
								</div> -->
<!--/ End Single Clients -->
<!-- Single Clients -->
<!-- <div class="single-clients">
									<a href="#" target="_blank"><img src="http://via.placeholder.com/220x100" alt="#"></a>
								</div> -->
<!--/ End Single Clients -->
<!-- Single Clients -->
<!-- <div class="single-clients">
									<a href="#" target="_blank"><img src="http://via.placeholder.com/220x100" alt="#"></a>
								</div> -->
<!--/ End Single Clients -->
</div>
</div>
</div>
</div>
</section>
<!--/ End Clients -->