<!-- Start Breadcrumbs -->
<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Login Area</h2>
                <ul class="bread-list">
                    <li><a href="index.html">Home<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="about-us.html">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<section id="contact-us" class="services contact-us section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>Donor Login</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Contact Form -->
            <div class="services-main">
                <div class="col-md-8 col-sm-8 col-md-offset-2 col-xs-12">
                    <form class="form-horizontal" id="loginform"> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Enter Your Password"
                                    required="required">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group button">
                                <button type="submit" class="btn primary">Login </button>
                                <span style="margin-left: 30px;">Not A Donor? <a
                                        href="<?php echo base_url(); ?>Welcome_controller/Donor">Click here</a> to
                                    REGISTER</span> OR
                                <span><a href="<?php echo base_url();?>Auth/index#">Forgot Password</a></span>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <!--/ End Contact Form -->
                <!-- Contact Address -->
                <!-- put it here -->
                <!--/ End Contact Address -->
            </div>
            <!-- second form -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h1>Login By Reference #</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Contact Form -->
                <div class="col-md-8 col-sm-8 col-md-offset-2 col-xs-12">
                    <form class="form-horizontal" id="loginform">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="ref_no" placeholder="Reference Number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Enter Your Email" required="required">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group button">
                                <button type="submit" class="btn primary">Login </button>
                                <span style="margin-left: 30px;">How To make Request? <a
                                        href="<?php echo base_url(); ?>Welcome_controller/index">Click here</a> to Make
                                    A request</span>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <!--/ End Contact Form -->
                <!-- Contact Address -->
            </div>
        </div>
    </div>
</section>
<!--/ End Contact