<!-- Start Breadcrumbs -->
<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>Blood Requests</h2>
                <ul class="bread-list">
                    <li><a href="index.html">Home<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a href="about-us.html"> BLood Requests</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->
<!-- Pricing Table -->
<section class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>Requests</h1>
                    <p>Below is the list of blood request that required blood donation please contact them if you would
                        like to donate blood.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Table -->
            <div class="card">
                <div class="card-body">
                    <!-- <h5 class="card-title m-b-0">Request List Table</h5> -->
                </div>
                <table id="zero_config" class="table ">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Ref #.</th>
                            <th scope="col">email</th>
                            <th scope="col">Mobile No.</th>
                            <th scope="col">Blood Group</th>
                            <th scope="col">Hostpital Name</th>
                            <th scope="col">City</th>
                            <th scope="col">Till Required</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <th scope="row">1</th>
                            <td>BD-12</td>
                            <td>muhammaduzair687@gmail.com</td>
                            <td>03036552018</td>
                            <td>C-</td>
                            <td>LRH</td>
                            <td>PEsahwaar</td>
                            <td>2019-12-24</td>
                            <td>
                              <span class="badge badge-danger">expired</span>
											  <span class="badge badge-success">needed</span>
											
                            </td>
                        </tr>
                        

                    </tbody>
                </table>
            </div>
        </div>
        <!-- End Single Table-->
    </div>
    </div>
</section>
<!--/ End Pricing Table -->
<style>
    #zero_config_filter>label {
        float: right;
    }

    #zero_config_paginate {
        float: right;
    }
</style>